* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Oswald,
        serif;
}

.sidebar {
    position: fixed;
    width: 70px;
    margin-top: 250px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .5);
    border-radius: 0px 10px 10px 0px;
    background-color: #333;
}

.sidebar .ul-sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar .li-sidebar {
    height: 55px;
    position: relative;
}

.li-sidebar .a-sidebar,
i {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.sidebar .li-sidebar .a-sidebar {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    padding-left: 25%;
    border-bottom: 1px solid #3d3d3d;
    border-radius: 0px 30px 30px 0px;
    transition: all 0.2s linear;
    color: #fff;
}

.sidebar .li-sidebar .a-sidebar i {
    position: absolute;
    top: 17px;
    left: 25px;
}

span {
    display: none;
}

.a-sidebar:hover {
    width: 200px;
    z-index: 1;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .5);
}

.ul-sidebar .li-sidebar .a-sidebar:hover .facebook {
    display: block;
    width: 200px;
    padding-left: 40px;
    background-color: #4064ac;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .5);
}

.ul-sidebar .li-sidebar .a-sidebar:hover .instagram {
    display: block;
    width: 200px;
    padding-left: 40px;
    background-color: #d12679;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .5);
}

.ul-sidebar .li-sidebar .a-sidebar:hover .linkedin {
    display: block;
    width: 200px;
    padding-left: 40px;
    background-color: #0072b1;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .5);
}

.ul-sidebar .li-sidebar .a-sidebar:hover .github {
    display: block;
    width: 200px;
    padding-left: 40px;
    background-color: #161414;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .5);
}

.ul-sidebar .li-sidebar .a-sidebar:hover .whatsapp {
    display: block;
    width: 200px;
    padding-left: 40px;
    background-color: #49c456;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .5);
}

@media(max-width:1000px) {
    .sidebar {
        display: none;
    }
}