.big-container {
    width: 100vw;
    height: 90vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
}

.container-left {
    width: 65vw;
    height: 70vh;
}

.text {
    width: 100vw;
    height: 30%;
}

.PC {}

.container-right {
    width: 35vw;
    height: 100%;
}

.Phone {}