* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333333;
    text-align: center;
}

h1 {
    color: #fff;
    margin-top: 10px;
}

#gameBoard {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.tile {
    height: 100px;
    background: #111111;
    border: 5px solid #fff;
    cursor: pointer;
    border-radius: 5px;
}