* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, serif;
}

.copyrights {
    width: 100%;
    height: 3vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}